.main {
    margin-top: 20vh;

    display: grid;
    place-content: center;
}

button {
    display: block;
    width: 80px;
    margin: 0 auto;
}

ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 24px;
    padding-inline-start: 0;
}

li {
    list-style: none;
    background-color: #5ab9e5;
    color: #003864;
    padding: 4px 8px;
    margin-inline-start: 0;
}